name: pipeline2
on:
  workflow_dispatch:


permissions:
    contents: read
    checks: write
    
env:
  MATLAB_PATH: "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
  
jobs:
  AHRS_Generate_Simulink_Web_View:
    runs-on: self-hosted

    steps:


      - name: Cache files
        uses: actions/cache@v2
        with:
          path: |
            04_Results/AHRS_Voter/code_inspection
            04_Results/AHRS_Voter/coding_standards
            04_Results/AHRS_Voter/design_error_detections
            04_Results/AHRS_Voter/model_standards_results
            04_Results/AHRS_Voter/system_design_description
            04_Results/AHRS_Voter/webview
            04_Results/Actuator_Control/code_inspection
            04_Results/Actuator_Control/coding_standards
            04_Results/Actuator_Control/design_error_detections
            04_Results/Actuator_Control/model_standards_results
            04_Results/Actuator_Control/system_design_description
            04_Results/Actuator_Control/webview
            04_Results/Flight_Control/code_inspection
            04_Results/Flight_Control/coding_standards
            04_Results/Flight_Control/design_error_detections
            04_Results/Flight_Control/model_standards_results
            04_Results/Flight_Control/system_design_description
            04_Results/Flight_Control/webview
            04_Results/InnerLoop_Control/code_inspection
            04_Results/InnerLoop_Control/coding_standards
            04_Results/InnerLoop_Control/design_error_detections
            04_Results/InnerLoop_Control/model_standards_results
            04_Results/InnerLoop_Control/system_design_description
            04_Results/InnerLoop_Control/webview
            04_Results/OuterLoop_Control/code_inspection
            04_Results/OuterLoop_Control/coding_standards
            04_Results/OuterLoop_Control/design_error_detections
            04_Results/OuterLoop_Control/model_standards_results
            04_Results/OuterLoop_Control/system_design_description
            04_Results/OuterLoop_Control/webview
            04_Results/test_results
          key: cached-files
        
#       - name: Run the matlab version
#         run: |
#          $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
#          $env:PATH += ";$pathToAdd"
#          $env:PATH | Add-Content -Path $env:GITHUB_PATH

      - name: Set up MATLAB path
        run: echo "$MATLAB_PATH" >> $GITHUB_PATH

         
      - name: Launch MATLAB
        uses: matlab-actions/run-command@v1
        with:
             command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.GenerateSimulinkWebView|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
             startup-options: -nodesktop -logfile output.log
 
          
      - name: AHRS_Voter_JUnit
        uses: mikepenz/action-junit-report@v3
        with:
          name: AHRS_Voter
          report_paths: 04_Results/junit/padv_builtin_task_GenerateSimulinkWebView_AHRS_Voter_JUnit.xml
          
  AHRS_Check_Modeling_Standards:
   runs-on: self-hosted

   needs: AHRS_Generate_Simulink_Web_View
   steps:
   
     
#    - name: Run the matlab version
#      run: |
#          $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
#          $env:PATH += ";$pathToAdd"
#          $env:PATH | Add-Content -Path $env:GITHUB_PATH
   - name: Set up MATLAB path
     run: echo "::add-path::\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
   - name: Launch MATLAB
     uses: matlab-actions/run-command@v1
     with:
         command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.RunModelStandards|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
         startup-options: -nodesktop -logfile output.log
 
          
   - name: AHRS_Voter_JUnit
     uses: mikepenz/action-junit-report@v3
     with:
        name: AHRS_Voter
        report_paths: 04_Results/junit/padv_builtin_task_RunModelStandards_AHRS_Voter_JUnit.xml
   
  AHRS_Detect_Design_Errors:
   runs-on: self-hosted
   needs: AHRS_Check_Modeling_Standards
   steps: 

#    - name: Run the matlab version
#      run: |
#          $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
#          $env:PATH += ";$pathToAdd"
#          $env:PATH | Add-Content -Path $env:GITHUB_PATH 
         
   - name: Launch MATLAB
     uses: matlab-actions/run-command@v1
     with:
         command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.DetectDesignErrors|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
         startup-options: -nodesktop -logfile output.log
          
   - name: AHRS_Voter_JUnit
     uses: mikepenz/action-junit-report@v3
     with:
        name: AHRS_Voter
        report_paths: 04_Results/junit/padv_builtin_task_DetectDesignErrors_AHRS_Voter_JUnit.xml
        
    
  AHRS_Generate_SDD_Report:
   runs-on: self-hosted
   needs: AHRS_Detect_Design_Errors
 
   steps:
   
      - name: Run the matlab version
        run: |
         $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
         $env:PATH += ";$pathToAdd"
         $env:PATH | Add-Content -Path $env:GITHUB_PATH
         
     
      - name: Launch MATLAB
        uses: matlab-actions/run-command@v1
        with:
         command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.GenerateSDDReport|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
         startup-options: -nodesktop -logfile output.log
          
      - name: AHRS_Voter_JUnit
        uses: mikepenz/action-junit-report@v3
        with:
         name: AHRS_Voter
         report_paths: 04_Results/junit/padv_builtin_task_GenerateSDDReport_AHRS_Voter_JUnit.xml
         
  AHRS_Run_tests:
     runs-on: self-hosted
     needs: AHRS_Generate_SDD_Report
     
     
     steps:
     
       - name: Run FAILING script
         run: echo "this job will run even if previous jobs failed"
         continue-on-error: true
   
       - name: Run the matlab version
         run: |
          $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
          $env:PATH += ";$pathToAdd"  
          $env:PATH | Add-Content -Path $env:GITHUB_PATH
         
     
       - name: Launch MATLAB
         uses: matlab-actions/run-command@v1
         with:
          command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.RunTestsPerTestCase|sl_test_case|ProcessAdvisorExample|02_Models/AHRS_Voter/test_cases/AHRS_Voter_REQ_Based_Test.mldatx|ced877ff-cfb8-4fa8-9bbf-aaa29b1d926b','padv.builtin.task.RunTestsPerTestCase|sl_test_case|ProcessAdvisorExample|02_Models/AHRS_Voter/test_cases/AHRS_Voter_REQ_Based_Test.mldatx|d3a72cc8-687b-44ae-a909-7eff803b455b','padv.builtin.task.RunTestsPerTestCase|sl_test_case|ProcessAdvisorExample|02_Models/AHRS_Voter/test_cases/AHRS_Voter_REQ_Based_Test.mldatx|74194125-b632-41a1-b96d-b3364441277f'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
          startup-options: -nodesktop -logfile output.log

          
       - name: AHRS_Voter_JUnit_HLR_11
         uses: mikepenz/action-junit-report@v3
         with:
          name: HLR_11
          report_paths: 04_Results/junit/padv_builtin_task_RunTestsPerTestCase_HLR_11_JUnit.xml
          
          
       - name: AHRS_Voter_JUnit_HLR_12
         uses: mikepenz/action-junit-report@v3
         with:
          name: HLR_12
          report_paths: 04_Results/junit/padv_builtin_task_RunTestsPerTestCase_HLR_12_JUnit.xml
          
       - name: AHRS_Voter_JUnit_HLR_13
         uses: mikepenz/action-junit-report@v3
         with:
          name: HLR_13
          report_paths: 04_Results/junit/padv_builtin_task_RunTestsPerTestCase_HLR_13_JUnit.xml
          
          
  AHRS_Generate_Code:
   runs-on: self-hosted
   needs: AHRS_Run_tests
   
   steps:

        
      - name: Run the matlab version
        run: |
         $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
         $env:PATH += ";$pathToAdd"
         $env:PATH | Add-Content -Path $env:GITHUB_PATH
         
      - name: Launch MATLAB
        uses: matlab-actions/run-command@v1
        with:
         command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.GenerateCode|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
         startup-options: -nodesktop -logfile output.log
          
      - name: AHRS_Voter_JUnit
        uses: mikepenz/action-junit-report@v3
        with:
         name: AHRS_Voter
         report_paths: 04_Results/junit/padv_builtin_task_GenerateCode_AHRS_Voter_JUnit.xml
         
         
  AHRS_Check_Coding_Standards:
   runs-on: self-hosted
   needs: AHRS_Generate_Code
   
   steps:
        
      - name: Run the matlab version
        run: |
         $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
         $env:PATH += ";$pathToAdd"
         $env:PATH | Add-Content -Path $env:GITHUB_PATH
         
      - name: Launch MATLAB
        uses: matlab-actions/run-command@v1
        with:
         command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.AnalyzeModelCode|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
         startup-options: -nodesktop -logfile output.log
         

      - name: AHRS_Voter_JUnit
        uses: mikepenz/action-junit-report@v3
        with:
         name: AHRS_Voter
         report_paths: 04_Results/junit/padv_builtin_task_AnalyzeModelCode_AHRS_Voter_JUnit.xml 
         
         
  AHRS_Inspect_Code:
   runs-on: self-hosted
   needs: AHRS_Check_Coding_Standards
 
   steps:
      - name: Run the matlab version
        run: |
         $pathToAdd = "\\mathworks\devel\sbs\37\vanshg.Bslcicd.j2276893.1\matlab\bin"
         $env:PATH += ";$pathToAdd"
         $env:PATH | Add-Content -Path $env:GITHUB_PATH
         
      - name: Launch MATLAB
        uses: matlab-actions/run-command@v1
        with:
         command: "openProject(pwd);runprocess(Tasks = {'padv.builtin.task.RunCodeInspection|sl_model_file|ProcessAdvisorExample|02_Models/AHRS_Voter/specification/AHRS_Voter.slx'}, Force=false,ExitInBatchMode = true, RerunFailedTasks = false,RerunErroredTasks = false,GenerateJUnitForProcess = true);"
         startup-options: -nodesktop -logfile output.log
          
      - name: AHRS_Voter_JUnit
        uses: mikepenz/action-junit-report@v3
        with:
         name: AHRS_Voter
         report_paths: 04_Results/junit/padv_builtin_task_RunCodeInspection_AHRS_Voter_JUnit.xml 
         
